.reservation-list {
  width: 100%;
}
.reservation-list .subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: left;
  text-transform: uppercase;
}
.reservation-list .list {
  display: flex;
  flex-direction: column;
  gap: unset;
}
.reservation-list .show-all {
  color: var(--secondary);
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.25rem;
  margin-top: 1rem;
  width: 100%;
}
