.reservationList{
    width: 100%;
}
.reservationList .subTitle{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-align: left;
    text-transform: uppercase;
}
.reservationList .list{
    display: flex;
    flex-direction: column;
    gap: unset;
}
.reservationList .showAll{
    color: var(--secondary);
    text-align: right;
    margin-top: 10px;
}