.modalItem{
    display: flex;
    align-items: center;
    min-width: 200px;
    width: auto;
    padding: 10px 15px;
    grid-gap: 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: left;
}
.modalItem svg{
    margin: unset;
}
.modalItem:hover{
    background-color: rgb(196, 196, 196);
    opacity: .7;
}
.modalIcon{
    font-size: 15px;
}