.activitiItem {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  padding: 5px;
  font-size: 0.85rem;
}
.activitiItem .img img {  
  width: 80px;
  border-radius: 50%;
}
span {
  padding-left: 0;
}
.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-gap: 0.4rem;
}
.details .librarianName {
  color: var(--secondary);
  font-weight: 500;
  margin-right: 0.2rem;
}
.studentName {
  color: var(--secondary);
  font-weight: 500;
  margin-right: 0.2rem;
}
.showDetails {
  color: var(--secondary);
  font-weight: 500;
}

.showBtn {
  max-width: 650px;
}

.title,
.details {
  margin: 0;
}
