.contentD {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 4rem 2rem 2rem;
  grid-gap: 30px;
  animation: blur 0.5s ease forwards;
}

@keyframes blur {
  0% {
    filter: blur(5rem);
  }
  100% {
    filter: blur(0);
  }
}

.right-side {
  width: 45%;
  min-width: 550px;
}

@media (max-width: 1400px) {
  .right-side {
    width: 45%;
    min-width: 400px;
  }

  .contentD {
    padding: 1.5rem 2rem;
  }
}
