.bigdiv {
  position: relative;
}

.pageTitle h1{
  padding: 1.5rem 2rem;
  position: fixed;
  width: 100%;
  z-index: -1;
  font-size: 2rem;
  line-height: 2rem;
  background-color: white;
  z-index: 2;
}

.padding {
  padding-top: 79px;
  border-bottom: 1px solid var(--grey-200);
}
