.bigdiv {
  position: relative;
  width: 100%;
  width: 100%;
}

.pageTitle h1 {
  padding: calc(1.75rem - 0.5px) 2rem;
  position: fixed;
  width: 100%;
  font-size: 2rem;
  line-height: 2rem;
  background-color: white;
  z-index: 2;
  border-bottom: 1px solid var(--grey-200);
  margin: 0;
}

.paddingMenu {
  padding-top: calc(5.5rem - 1px);
}