.confirmModal {
    position: fixed;
    top: -10rem;
    left: 0;
    width: 100%;
    min-height: 1200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
}
.confirmModal .modalC{
    background-color: white;
    border-radius: 1rem;
    padding: 1.25rem;
}
.confirmModal .modalButtons{
    display: flex;
    justify-content: end;
    align-items: center;
    grid-gap: 1rem;
}