.ReservationItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 20vw;
    padding: 1rem 0;
    border-bottom: 1px solid rgb(181, 181, 181);
    /* grid-gap: 10%; */
    font-size: 0.85rem;
}
.ReservationItem .studentInfo{
    display: flex;
    align-items: center;
    grid-gap: 0.4rem;
    font-weight: 500;
}
.ReservationItem .studentInfo img{
    border-radius: 50%;
    width: 2rem;
    margin-right: .5rem;
}
.ReservationItem .status{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.ReservationItem .status svg{
    cursor: pointer;
}
.ReservationItem .status svg:hover{
    opacity: .7;
}