.sidebar {
    background-color: aliceblue;
    padding: 0;
    padding-top: 2rem ;
    border-right: 1px solid grey;
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 82px); 
    overflow-x: auto;
    transition: width .5s;
    position: fixed;
    margin-top: 80px;
    z-index: 3;
  }
  .closed{
    width: 90px;
  }
  .open{
    width: 300px;
  }
  .faBars, .faTimes{
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 30px;
    margin-left: 20px;
  }
  ul{
    list-style: none;
  }
  .extendArrows{
    margin-left: 100%;
  }
  .navLink p{
    color: black;
    display: flex;
    align-items: center;
  }
  .icon{
    color: gray;
  }
  .expandText{
    text-align: right;
    margin-right: 50px;
    transition: all 0.5s;
    text-overflow: hidden;
    overflow: hidden;
  }
  .expandText p{
    margin: 5px 0;
    cursor: pointer;
  }
  .openExpand{
    /* display: block; */
    height: 100px;
  }
  .openAnimation{
    height: 100px;
  }
  .closedExpand{
    /* display: none; */
    height: 0px;
    text-overflow: initial;
  }