.reserve-table-wrapper {
  padding: 8rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.reserve-table-wrapper h1 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  color: var(--primary);
  width: fit-content;
  border: 1px solid var(--grey-200);
  border-radius: 0.25rem;
}

.edit-reserve-book {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem 0 0 0;
}
input {
  position: relative;
  display: inline-block;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}