.new-book-position-handler {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    animation: blur 0.5s ease;
}

@media(max-width: 1400px){
    .new-book-position-handler{
        width: calc(100vw - 90px);
    }
}