.multimedia-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem;
  list-style: none;
}

.insert-image {
  text-align: center;
  margin: 0;
  padding: 1rem 0 0.2rem 0;
  font-size: 1rem;
  font-style: italic;
}
