.title-bar-wrapper {
  display: flex;
  flex-direction: row;
  padding: 2rem 0 1rem 2rem;
  gap: 1rem;
  border-bottom: 1px solid var(--grey-200);
}


@media (max-width: 1400px) {
    .title-bar-wrapper {
      width: calc(100vw - 90px);
    }
  }