.menu {
  display: flex;
  grid-gap: 4rem;
  position: fixed;
  border-bottom: 1px solid gray;
  padding: 5.5rem 2rem 0 2rem;
  width: 100%;
  align-items: center;
  background-color: white;
  overflow: hidden;
  z-index: 1;
}
.menu .linkMenu {
  padding: 1.25rem 0;
}
.menu .selectedLinkMenu {
  color: var(--secondary);
  border-bottom: 3px solid var(--secondary);
}

@media (max-width: 1400px) {
  .menu {
    width: calc(100vw - 90px);
  }
}
