.modal{
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    background-color: var(--white);
    transform: translate(-90%, 5%);
    color: black;
    text-align: left;
    background-color: white;
    top: unset !important;
    left: unset !important;
    display: unset !important;
    width: unset;
    height: unset;
}
.closeModal{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.modal p {
    margin-bottom: 0;
}