.notFound{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 20px;
}
.mainText{
    font-size: 80px;
    color: var(--primary);
}
.subText{
    font-size: 30px;
}
.notFound .homeBtn{
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.notFound .homeBtn:hover{
    opacity: .8;
}