.activity-list {
  width: 100%;
}

.activity-list .subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: left;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.show-more-btn {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  max-width: 850px;
}

.book-activities {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  padding: 2rem;
}

@media (max-width: 1400px) {
  .activity-list {
    max-width: 500px;
  }
  .book-activities {
    grid-gap: 0.5rem;
    padding: 1rem;
    font-size: 0.8rem;
  }
}
