.activityList {
  width: 100%;
}

.activityList .subtitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}
.activityList .subTitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: left;
  text-transform: uppercase;
}
.showBtn {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  max-width: 650px;
}

.book-activities {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  padding: 2rem;
}

@media (max-width: 1400px) {
  .book-activities {
    grid-gap: 0.5rem;
    padding: 1rem;
    font-size: 0.8rem;
  }
}
