.activity-item {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  padding: 5px;
  font-size: 0.85rem;
}
.activity-item .img img {
  width: 4rem;
  border-radius: 50%;
}
span {
  padding-left: 0;
}
.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-gap: 0.4rem;
}
.details .librarian-name {
  color: var(--secondary);
  font-weight: 500;
  margin-right: 0.2rem;
}
.student-name {
  color: var(--secondary);
  font-weight: 500;
  margin-right: 0.2rem;
}
.show-details {
  color: var(--primary);
  font-weight: 500;
  margin-left: 0.25rem;
}

.showBtn {
  max-width: 650px;
}

.title,
.details {
  margin: 0;
}

@media (max-width: 1400px) {
  .activity-item .img img {
    width: 4rem;
  }
}
