@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  --font-family: "Rubik", sans-serif;
  --fontSize: 16px;
  --white: #fff;
  --black: #1e1e1e;
  --primary: #4558be;
  --secondary: #2196f3;
  --grey-100: #eff3f6;
  --grey-200: #d5d8da;
  --grey-400: #707070;
  --grey-900: #374151;
  --green-200: #a7f3d0;
  --green-300: #4caf50;
  --green-400: #059669;
  --red-500: #f44336;
  --red-200: #fecaca;
  --red-700: #dc2626;
  --yellow-200: #fde68a;
  --yellow-400: #d97706;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body {
  font-family: var(--font-family);
  font-size: var(--fontSize);
  color: var(--grey-900);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: unset;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  opacity: 0.8;
}
 .moduleBox { 
 position: relative; 
 } 
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flrx-end {
  display: flex;
  justify-content: flex-end;
}
.container {
  margin: 0 1rem;
}
.btn {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0.5rem 0;
  color: var(--white);
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: transform 0.2s;
}
.btn:hover {
  transform: scale(1.08);
}
.btn-primary {
  background-color: var(--primary);
  margin: 0;
}
.btn-danger {
  background-color: var(--red-700);
}
.btn-danger:hover {
  background-color: var(--red-500);
}
.btn-success {
  background-color: var(--green-400);
}
.btn-succes:hover {
  background-color: var(--green-300);
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5rem 0 2rem;
}
p{
  margin-bottom: 0 !important;
}