:root {
  --fontSize: 16px;
  --white: #fff;
  --black: #1e1e1e;
  --primary: #4558be;
  --secondary: #2196f3;
  --grey-100: #eff3f6;
  --grey-200: #d5d8da;
  --grey-400: #707070;
  --grey-900: #374151;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: var(--fontSize);
  color: var(--grey-900);
}
a {
  text-decoration: none;
}
