.input-select-container,
.basic-multi-select {
  width: 100%;
  max-width: 600px;
}

.basic-single {
  border: 1px solid var(--grey-200) !important;
  border-radius: 0.25rem;
}

.select__control {
  border: 0 !important;
}