.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8rem 2rem 2rem 2rem;
  margin: 0;
  color: var(--grey-400);
  gap: 2rem;
}

.input-wrapper input,
.textarea-wrapper textarea {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0.5rem;
  border: 1px solid var(--grey-200);
  outline: none;
}

.form-wrapper sup {
  display: absolute;
  top: 0.15rem;
  font-size: 1rem;
  margin-left: 0.5rem;
  color: var(--red-500);
}

.textarea-wrapper textarea {
  padding: 0.5rem;
  line-height: 1.5rem;
  resize: none;
  height: 12rem !important;
  column-count: auto;
}

.form-image-input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border: 1px solid var(--grey-200);
  width: fit-content;
  padding: 0.5rem 1rem;
}

.form-image-input label{
  margin-bottom: 0;
}

.form-image-input input {
  display: none;
}

.form-image-input img{
  width: 8rem;
}

