#table {
    width:95%;
    border-collapse: collapse;
    margin: 1.5rem auto;
    font-size: 0.9rem;
}
#table td, 
#table th {
    border: 1px solid var(--grey-200);
    padding: 15px 25px;
    text-align: left;
}
#table th {
    background-color: var(--grey-100);
}
th input,
td input {
    margin-right: 1rem;
}
table tr:hover {
    background-color:var(--grey-100);
}
.arrow {
    cursor: pointer;
    margin-left: 1rem;
    font-size: 20px;
}
.dots {
    font-size: 25px;
    cursor: pointer;
}
